body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("paper.gif");
    margin: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(171, 54, 163, 0.7);
    padding: 15px 20px;
  }
  .container {
    text-align: center;
    background-color: #22538f;
    background-image: url("sg.jpg");
    padding: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #cityInput {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
  }
  
  #searchButton {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #weatherInfo {
    margin-top: 20px;
  }
  